@use '../../styles/variables' as v;
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: v.$CardDark ;
    height: 5rem;
    width: 100%;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 0.5rem;

    &_data{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &_task{
        font-weight: 700;
        font-size: 1.5rem;
    }

    &_details{
        display: flex;
        gap: 1rem;
    }

    &_toggle{
        font-size: 2rem;
    }
}

.completed{
    text-decoration: line-through;
}